# .gitignore — recommended for ACMG_SF_Analyzer

# Ignore large database folders and generated results
/databases/
/results/
/points*
/1pts*
/2pts*
/3pts*
/4pts*
/5pts*
/6pts*
/all_15*
/parkinson*
/vep_results/
/no_vep_result/
acmg_sf_classifier_PARKINSONS_3_points.py
acmg_sf_classifier_POINTS_1_points.py
acmg_sf_classifier_POINTS_2_points.py
acmg_sf_classifier_POINTS_4_points.py
acmg_sf_classifier_POINTS_5_points.py
acmg_sf_classifier_POINTS_6_points.py
acmg_sf_classifier_POINTS.py
/data/
/temp/
/data/
/preprocessing/*
/databases/*
/databases/clinvar/clinvar.vcf.gz
/databases/clinvar/clinvar.vcf.gz.tbi
/databases/clinvar/clinvar_expanded.mane_filtered.csv
/databases/clinvar/clinvar_expanded.csv
/databases/clinvar/clinvar_with_protein.vcf.gz
/databases/gnomad/*
/batch_results/
/batch_results/*
clinvar*
# VEP caches, local DB builds
/databases/vep/
/databases/gnomad/
/databases/hgmd_pro/
/databases/internal/
/databases/clinvar/*.db
# Python / env
__pycache__/
*.pyc
.env
.envrc
venv/
# Jupyter
.ipynb_checkpoints/
# OS
.DS_Store
Thumbs.db
# Editor
*.swp
.idea/
.vscode/
# Секретные файлы/ключи
git
git.pub
*.key
*.pem

# Данные/базы данных
databases/
config/
ACMG_SF_v3.3.tsv
ACMG_SF_v3.3.csv

# Временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt

# Логи
*.log
vep_results/
/scripts/am_i_trying.py
